<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles.css" rel="stylesheet">
    <title>Image Page</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <figure>
        <img src="../assets/Rishit.jpeg" alt="MyImage" />
        <figcaption>This is me loafing in Pondi</figcaption>
    </figure>
</body>

</html>