<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles.css" rel="stylesheet">
    <title>Profile Page</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>Hello, I am P. Rishit from Andhra Pradesh</h1>
        <h2>But I stay in Bangalore :)</h2>
        <p>I am doing chemical
        engineering in the 2021 batch. My hobbies are playing football and badminton, coin
        collecting, listening to music and talking to new people. I have been trying various fields at IITM, like data science,
        Finance, and entrepreneurship, but I found consultancy interesting. My first experience at IITM has been excellent, and
        I am enjoying my life at IITM. I am excited to fill out this
        application. I hope I get in :)</p>
</body>

</html>